openapi: 3.0.3
info:
  title: SmartHome API (Minimal)
  version: "1.0.0"
servers:
  - url: https://sanaboina2007-netizen.github.io/smarthome-api
paths:
  /ping:
    get:
      summary: Health check
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
